.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.search-input-container {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.search-input {
  background-color: #f1f5f9;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}

.search-icon {
  color: #475569;
  height: 20px;
  width: 20px;
}

.category-heading {
  font-family: 'Roboto';
  color: #12022f;
  font-size: 20px;
  font-weight: 700;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .category-heading {
    margin-top: 30px;
  }
}

.categories-list {
  padding-left: 0px;
}

.category-item {
  list-style-type: none;
  margin-top: 15px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .category-item {
    margin-top: 25px;
  }
}

.category-name {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
}

.active-category-name {
  color: #0967d2;
}

.rating-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

.ratings-list {
  padding-left: 0px;
}

.rating-item {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  cursor: pointer;
}

.rating-img {
  max-width: 150px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .rating-img {
    height: 25px;
  }
}

.and-up {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .and-up {
    font-size: 20px;
    margin-left: 15px;
  }
}

.active-rating {
  color: #0967d2;
}

.clear-filters-btn {
  background-color: #ffffff;
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid #0967d2;
  padding-top: 10px;
  padding-left: 13px;
  padding-bottom: 10px;
  padding-right: 13px;
  margin-top: 16px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .clear-filters-btn {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
  }
}
